<section>
    <div>
        <img
            src="/a/images/devfestmn.svg"
            style="width: 40%; max-width: 400px; min-width: 250px"
            alt="DevFestMN Logo"
        />
    </div>
    <h2>Sponsorship</h2>

    <div class="callout">1 Day<br />200 Attendees</div>
    <div>
        <a
            href="https://past.devfest.mn/a/2019/2019-devfest-sponsor.pdf"
            style="
                padding: 16px;
                background-color: #2baadf;
                color: white;
                border-radius: 8px;
                font-weight: bold;
                margin-bottom: 32px;
                display: inline-block;
            "
            >Download the 2019 Sponsor Information Sheet</a
        >
    </div>
    <p>
        We're still working on the 2023 sponsor sheet, stay tuned or email us at
        <a href="mailto:sponsor@gdgtc.com?subject=Sponsor DevFestMN 2023" target="_blank"
            >sponsor@gdgtc.com</a
        >
    </p>
    <p>
        After many years of success, DevFestMN has been established as one of the best developer and
        tech community events in the Twin Cities. At our last mainline DevFest, we sold out our
        event at over 500 tickets. We will be hosting a DevFestMN 2023 on December 2nd, 2023 and we
        would love to have you join us as a sponsor.
    </p>
    <p>
        By helping support DevFestMN we can place your company's name and face prominently in front
        of the 2500+ members of our Google Developer Group - Twin Cities Meetup group, 1000+
        individuals who have attended past events, as well as the hundreds of new attendees that
        will be present at our upcoming DevFestMN event. DevFestMN attendees consist of self
        selecting local developers, designers, students, managers and entrepreneurs interested in
        our technology topics covered by our event, including Android, Cloud, Web, and AI.
    </p>

    <p>
        Another great way to get your company's name in the forefront of our attendees is to have
        your team members join as one of our DevFestMN presenters. When we announce our call for
        speakers, please encourage your team to submit a topic. We also always encourage volunteer
        support, particularly this year as we plan for our expected growth.
    </p>

    <p>
        For more information download the
        <a href="https://past.devfest.mn/a/2019/2019-devfest-sponsor.pdf"
            >2019 Sponsor Information Sheet</a
        >
        or email us at
        <a href="mailto:sponsor@gdgtc.com?subject=Sponsor DevFestMN 2023" target="_blank"
            >sponsor@gdgtc.com</a
        >.
    </p>
</section>
